{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP-программист</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body style="height: 250vh">
<header>
    <p>PHP-программист</p>
    <img class="logo" src="{% static 'images/logotip.png' %}">
</header>
<main>
    <div class="body">
        <div class="navigation" style="height: 250vh ">
            <nav>
                <ul>
                    <li><div><a href="/">Главная</a></div></li>
                    <li><div><a href={% url 'demend' %}>Востребованность</a></div></li>
                    <li><div><a href={% url 'geography' %}>География</a></div></li>
                    <li><div><a href={% url 'skills' %}>Навыки</a></div></li>
                    <li><div style="border-radius: 0px 0px 25px 0px; background: rgba(77, 114, 77, 0.50); justify-content: center"><a style="color: #FFFFFF !important;" href={% url 'lastVacancy' %}>Последние вакансии</a></div></li>
                </ul>
            </nav>
        </div>
        <div class="home_text">
            <h1>Последние вакансии</h1>
            <div class="empty_skills"></div>
        </div>
        <div class="LVtable" style="margin-left: 50px;">
            {% for i in vacs %}
            <h3>{{ i.name }}</h3>
            <p>Описание: {{ i.description }}</p>
            <p>Навыки: {{ i.key_skills }}</p>
            <p>Компания: {{ i.employer }}</p>
            <p>Зарплата: {{ i.salary }}</p>
            <p>Город: {{ i.area }}</p>
            <p>Дата публикации: {{ i.published_at }}</p>
            <p>Ссылка: {{ i.alternate_url }}</p>
        {% endfor %}
        </div>
    </div>
</main>
<footer style="top: 242%">
    <p>Абухарун Абдельрахман Мустафа Абдаллах АТ-4</p>
</footer>
</body>
</html>